@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.main-container{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 16vh;
    padding-left: 10vw;
}

p{
    font-size: 46px;
}

input{
    max-width: 240px;
    background-color: black;
    color: white;
    border: 1.5px solid white;
    padding: 0.5rem;
    outline: none;
}

.btn{
    display: flex;
    gap: 1.35rem;
}

.btn button{
    width: 48px;
    height: 48px;
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(211, 211, 211);
}

::placeholder{
    color: white;
}

.res-div p{
    font-size: 1.2rem;
}

.err{
    color: red;
}

.success{
    color: green;
}

.message p{
    font-size: 16px;
}